<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    <style>
    body{
        margin-top: 30px;
    }
    .box{
         background: linear-gradient(orange, #ec38bc, #7303c0, cyan);
     }
    </style>
    <title>Tabel Siswa Perempuan</title>
</head>
<body>
    <% include ../navbar %>
    <br>
    <div class="box">
    <br><center>
    <p>Ini Merupakan Tabel Data Siswa Perempuan </p>
    </center>
    <br>
    <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>No Absen</th>
                        <th>Nama</th>
                        <th>Asal</th>
                        <th>Alamat</th>
                        <th>No HP</th>	
                        <th>Email</th>			
                        </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>6</td>
                            <td>Alya Selvia</td>
                            <td>Malang</td>
                            <td>Jl danau</td>
                            <td>0892213127</td>
                            <td>alya@selvia</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Aulia Romadon</td>
                            <td>Malang</td>
                            <td>Jl danau</td>
                            <td>089767722</td>
                            <td>aulia@romadon</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Danza Sasta Vanesta</td>
                            <td>Malang</td>
                            <td>Jl danau</td>
                            <td>0897312312</td>
                            <td>Danzasasta@vanesta</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Erika Ananta</td>
                            <td>Malang</td>
                            <td>Jl danau</td>
                            <td>089774446</td>
                            <td>ananta@erika</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>Gabriell Pasya Vinta</td>
                            <td>Malang</td>
                            <td>Jl danau</td>
                            <td>08997638937</td>
                            <td>Gabriell@pasyavinta</td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>Imelda Zahwa A</td>
                            <td>Malang</td>
                            <td>Jl danau</td>
                            <td>08977548243</td>
                            <td>imelda@zahwaaa</td>
                            </tr>
                            <tr>
                            <td>20</td>
                            <td>Krisvany Afril Patricia</td>
                            <td>Malang</td>
                            <td>Jl danau</td>
                            <td>0897637982</td>
                            <td>Krisvany@Afrilakrisvany</td>
                        </tr>
                </tbody>
            </table>
        </div>
</div>
</body>
</html> 

