<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    <style>
    body{
        margin-top: 30px;
        background: #f2f2f2;
    }
     .box{
         background: linear-gradient(orange, #ec38bc, #7303c0, cyan);
     }

    </style>
    <title>Tabel Siswa Laki-Laki</title>
</head>
<body>
    <% include ../navbar %>
    <br>
    <div class="box">
    <br><center>
    <p>Ini Merupakan Tabel Data Siswa Laki - Laki </p>
   </center>
    <br>
    <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>No Absen</th>
                        <th>Nama</th>
                        <th>Asal</th>
                        <th>Alamat</th>
                        <th>No HP</th>	
                        <th>Email</th>			
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Abimanyu Prakoso</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>089734238081</td>
                        <td>abim@abim</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Achamad Hasimy</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>08978983192</td>
                        <td>hasimy@hsa</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Agung Jumantoro</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>08974231232</td>
                        <td>agung@agung</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Akhtar Muzakie</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>08973231421</td>
                        <td>akhtar@akhtar</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Alek Zain</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>08976768327</td>
                        <td>alek@alek</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Alya Selvia</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>0892213127</td>
                        <td>alya@selvia</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Arya Gading</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>0897321132</td>
                        <td>gading@arya</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Aulia Romadon</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>089767722</td>
                        <td>aulia@romadon</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Bima Putra</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>089767823</td>
                        <td>Bima@putra</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Danza Sasta Vanesta</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>0897312312</td>
                        <td>Danzasasta@vanesta</td>
                   </tr>
                    <tr>
                        <td>11</td>
                        <td>Erika Ananta</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>089774446</td>
                        <td>ananta@erika</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Firman Maulana</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>08972345323</td>
                        <td>Maulana12@firman</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Gabriell Pasya Vinta</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>08997638937</td>
                        <td>Gabriell@pasyavinta</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Gaung rovico</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>0897974646</td>
                        <td>gaung@ganung</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Habib Azizul</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>0897342423</td>
                        <td>azizulhaq@habib</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Hanafi Satrio U</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>0897789798</td>
                        <td>hanafi@satrioutomo</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Havindo Bimo</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>0897098797</td>
                        <td>Bimo@havinda</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Imelda Zahwa A</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>08977548243</td>
                        <td>imelda@zahwaaa</td>
                    </tr>

                    <tr>
                        <td>19</td>
                        <td>Kamaludin Ahmad</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>089798988</td>
                        <td>Kamaludin@Kamaludin</td>
                    </tr>                   
                    <tr>
                        <td>20</td>
                        <td>Krisvany Afril Patricia</td>
                        <td>Malang</td>
                        <td>Jl danau</td>
                        <td>0897637982</td>
                        <td>Krisvany@Afrilakrisvany</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
</body>
</html> 

