<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Daftar</title>
    <style>
        body{
            margin-top: 30px;
        }
        p{
            text-align: justify;

        }
    </style>
</head>
<body>
    <% include ../navbar %>

    <center>
    <h1>Daftar Tabel</h1>
    <br>
    <div class="text">
    <p>Dibawah ini adalah link untuk menuju ke tabel data diri dari siswa kelas pemrogaman Node JS 2</p></div>
    <ul>
        <li><a href="/tabellakilaki">Tabel Siswa Laki - Laki</a></li>
        <br>
        <li><a href="/tabelperempuan">Tabel Siswa Perempuan</a></li>
        <br>
        <li><a href="/tabelsemua">Tabel Siswa Keseluruhan</a></li>
        <br>
        <li><a href="/tentang">Tentang Kelas Node JS 2</a></li>
    </ul></center>
</body>
</html>