<link rel="stylesheet" href="/nav.css" />

<center>
<ul class="navbar">
  <li class="navbar">
    <a class="navbar" href="/">Beranda</a>
  </li>
  <li class="navbar">
    <a class="navbar" href="/tabel">Daftar Siswa</a>
  </li>
  <li class="navbar">
    <a class="navbar" href="/tentang">Tentang Kelas Node JS 2</a>
  </li>
</ul></center>