<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Tentang</title>
    <style> 
    body{
        background: #f2f2f2;
    }
    .box{
         background: linear-gradient(orange, #ec38bc, #7303c0, cyan);
     }
    
    </style>
</head>
<body>
    <% include navbar %>
    <div class="box">
        <div class="text">
            <p>Kelas Pemrogaman Node JS 2 adalah kelas backend dengan mengunakan bahasa Node. Kelas ini diajar oleh dua guru pemrogaman dasar yaitu Musfiratih Khasanah, S.Pd dan Bias Damiasa, S.Pd.</p>
            <p>Siswa dikelas ini terdapat 41 orang dengan jumlah 15 perempuan dan 26 laki - laki. </p>
        </div>
    </div>
</body>
</html>